body{ font-family: sans-serif; background: #f3f3f3; }
h1{ text-align: center; }
.kotak_login{ width: 350px; background: white; margin: 80px auto; padding: 30px 20px; border-radius: 5px; box-shadow: 0px 0px 10px #ccc; }
.form_login{ box-sizing: border-box; width: 100%; padding: 10px; font-size: 11pt; margin-bottom: 20px; }
.tombol_login{ background: #46de4b; color: white; font-size: 11pt; width: 100%; border: none; border-radius: 3px; padding: 10px 20px; cursor: pointer; }
.alert{ background: #ff4444; color: white; padding: 10px; text-align: center; border:1px solid #b32929; }